@page

@model RegisterEmployee
@{
    ViewData["Title"] = "Create";
}

<h2>Create Employee Record</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="employee.ProjectDetails" class="control-label"></label>
                <input asp-for="employee.ProjectDetails" class="form-control" />
                <span asp-validation-for="employee.ProjectDetails" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="employee.Client" class="control-label"></label>
                <input asp-for="employee.Client" class="form-control" />
                <span asp-validation-for="employee.Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employee.Consultant" class="control-label"></label>
                <input asp-for="employee.Consultant" class="form-control" />
                <span asp-validation-for="employee.Consultant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employee.Contractor" class="control-label"></label>
                <input asp-for="employee.Contractor" class="form-control" />
                <span asp-validation-for="employee.Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@*<div>
    <a asp-page="EmployeeIndex">Back to List</a>
</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}